doctype html
html(lang="en")
  head
    title= Portfolio
    meta(charset="utf-8")
    link(rel="stylesheet" href="style/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='js/main.js')

  body
    block content
